@charset "UTF-8";      /*Головні кольори: відтінок жовтого - #f2bf07 відтінок бірюзового - #2b7570*/
*{
  margin: 0;
  padding: 0;
  outline: none;
}
html{
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  color:#333;
  background: #f7f7f7;
  font-size: 1em;
  font-family: Comic Sans MS, sans-serif;
  line-height: 135%;
}

header, footer{
  width: 98%;
  background-color: #fff;
  float: left;

}

header{
  border-bottom: 2px solid silver;
  padding: 1%;
  min-height: 40px;
}

#logo{
  font-size: 2em;
  font-family: Comic Sans MS, sans-serif;
  float: left;
  /*#1D5C6E, #892EB1, #E082F4, #CD94FE, #13EAFE*/
}
#logo #logoD{color: #170541}
#logo #logoO{color: #0A258C}
#logo #logoS{color: #038875}
#logo #logoK{color: #1BB8CB}
#logo #logoA{color: #3EBAD6}

.regAndAuth{
  font-size: 1.5em;
  font-family: Comic Sans MS, sans-serif;
  vertical-align: middle;
  margin-right: 20px;
  color: #f2bf07;
}

.right{float: right;}
.left{float: left;}
.clear{clear: both;}

.addAds{
  padding: 5px;
  background-color: #2b7570;
  border: 1px;
  border-radius: 10px;
  float: right;
  margin-right: 50px;
  margin-left: 50px;
}
#addAds{
  color: #fff;
  font-size: 1.5em;
  font-family: Comic Sans MS, sans-serif;
 }
                                                                      /*Стилі для меню*/

.menu{
  color: #666;
  font-family: Comic Sans Ms, sans-serif;
  font-size: 1.7em;
}
.center{
  float: left;
  width: 100%;
}
.searchBlock{
  margin-left: 15%;
  width: 70%;
  min-height: 60px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2b7570;

  color: #fff;
  font-size: 1.5em;
  font-family: Comic Sans Ms, sans-serif;
}

                                                                   /*Стилі для розділів*/
.wrapper{
  float: left;
  width: 100%;
}
.sections{
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-top: 15px;
}
.section{
  float: left;
  width: 22%;
  margin-right: 1%;
  /*min-height: 25px;*/
  color:#2b7570;
  font-size: 1.2em;
  font-family: Comic Sans Ms, sans-serif;
  padding: 1%;

  /*border: 1px solid #2b7570;*/
}
.imageSections{
  float: left;
  vertical-align: middle;
}

/*Стилі для вибірки оголошень*/
.AdsBlock{
  width: 100%;
  float: left;
}
                                                            /*Стилі для вибірки Віп оголошень*/
#VipAdText, #topAdText, #NewAdText{
  font-size: 1.5em;
  font-family: Comic Sans Ms, sans-serif;
  margin-bottom: 10px;
}
#VipAdText #Vip{
  color: #54297d;
}
#VipAdText #VipVip{
  color: #2b7570;
}
.VipAds{
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
}
.VipAd{
  float: left;
  width: 19%;
  margin-right: 1%;
  min-height: 180px;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fafafa;

  color: #2b7570;
  font-size: 1.2em;
  font-family: Comic Sans Ms, sans-serif;
}
                                                                /*Стилі для вибірки Топ оголошень*/
#topAdText #Top{
  color: #f2bf07;
}
#topAdText #TopTop{
  color: #2b7570;
}
.topAds{
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
}
.topAd{
  float: left;
  width: 19%;
  margin-right: 1%;
  min-height: 180px;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fafafa;

  color: #2b7570;
  font-size: 1.2em;
  font-family: Comic Sans Ms, sans-serif;
}
                                                               /*Стилі для вибірки нових оголошень*/
#NewAdText #New{
  color: green;
}
#NewAdText #NewNew{
  color: #2b7570;
}
.NewAds{
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
}
.NewAd{
  float: left;
  width: 19%;
  margin-right: 1%;
  min-height: 180px;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fafafa;

  color: #2b7570;
  font-size: 1.2em;
  font-family: Comic Sans Ms, sans-serif;
}

                                                                     /*Стилі для футера*/
footer{
  border-top: 2px solid silver;
  margin-top: 10px;
  padding: 1%;
  padding-bottom: 3%;
  min-height: 10px;
}

.footerLogo{
  float: left;
  padding-right: 5px;
}

footer img{
  float: right;
}

.imgref{
  margin-left: 5px;
}

#pageWrap:after{
  content: "";
  display: block;
}
footer,#pageWrap:after{
  height: 10px;
}
#pageWrap{
  min-height: 90%;
  margin-bottom: -10px;
}

/*Стилі для посилань*/
a{
  text-decoration: none;
}

                                                            /*Стилі коли наводити на посилання*/
.regAndAuth:hover{
  /*color:#8b9ff5;*/
  color: #2b7570;
  text-decoration: none;
  transition: all.2s ease;
  -moz-transition: all.2s ease;
  -webkit-transition: all.2s ease;
  -ms-transition: all.2s ease;
}

                                                              /*Стилі для натисненого посилання*/
.regAndAuth:active{
  color:#8ce4a6;
}

.section:hover{
  color: #f2bf07;
  text-decoration: none;
  transition: all.2s ease;
  -moz-transition: all.2s ease;
  -webkit-transition: all.2s ease;
  -ms-transition: all.2s ease;
}
/*Стилі для зображень*/
img{
  max-width: 100%;
  height: auto;
  width: auto/9;
}

                                                                         /*Виділення*/
::selection{background: #2b7570; color: #fff;}
::-moz-selection{background: #2b7570; color: #fff;}

                                                   /*Стилі для сторінки з реєстрацією та авторизацією*/
.register, .authorization{
  float: left;
  width: 30%;
  margin-left: 35%;
  margin-top: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #2b7570;
  min-height: 400px;
  background-color: #fff;
}
#authAndRegText{
  float: left;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}

#regText, #textAuth{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 8px;
}
#regText{
  float: right;
  border-top-right-radius: 5px;
}
#textAuth{
  float: left;
  border-top-left-radius: 5px;
}
#authText, #textReg{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fafafa;
  border-bottom: 1px solid #2b7570;
  padding-top: 8px;
}
#authText{
  float: left;
  border-right: 1px solid #2b7570;
  border-top-left-radius: 5px;
}
#textReg{
  float: right;
  border-left: 1px solid #2b7570;
  border-top-right-radius: 5px;
}
#authAndRegText a:hover{
  color: #f2bf07;
  text-decoration: none;
  transition: all.2s ease;
  -moz-transition: all.2s ease;
  -webkit-transition: all.2s ease;
  -ms-transition: all.2s ease;
}
#authAndRegText a{color: #2b7570;}

input[type=text]{
  padding: 2%;
  float: left;
  border-radius: 5px;
  border: 2px solid #2b7570;
  width: 56%;
  margin-left: 20%;
  margin-top: 3%;
}
input[type=text]:focus{border: 2px solid #f2bf07;}

input[type=password]{
  padding: 2%;
  float: left;
  border-radius: 5px;
  border: 2px solid #2b7570;
  width: 56%;
  margin-left: 20%;
  margin-top: 3%;
}
input[type=password]:focus{border: 2px solid #f2bf07;}

.authButton{
  padding: 2%;
  float: left;
  border-radius: 5px;
  border: 2px solid #2b7570;
  width: 56%;
  margin-left: 20%;
  margin-top: 5%;
  color: #2b7570;
  margin-bottom: 2%;
}
.authBottonSpace{
  width: 100%;
  float: left;
}
.authButton:hover{color: #f2bf07}                                                  /*Поставити затримку шоб плавніше зявлявся жовтий колір при наведенні*/
.authLogin{
  width: 100%
  float: left;
}
.authPassword{
  width: 100%
  float: left;
}
